@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$outfit: 'Outfit', sans-serif;;

body {
  font-family: $outfit;
  font-size: 15px;
}

.title {
  font-size: 1.4rem;
}

.description {
  font-size: 0.95rem;
}

.attribution { 
  font-size: 0.7rem; 
}