// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

body {
  min-width: 375px;
  background-color: ab.$light-gray;
}

.card {
  margin: 5.25rem 2rem 0 2rem;
  max-width: 320px;
}

@media (min-width: 375px){  
  .card {
    margin: 5.25rem auto 0 auto;
  }
}