// Abstracts
@use "./../abstracts/__abstracts-dir" as ab;

.card {
  background-color: ab.$white;
  border-radius: 0.7rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.image-container {
  margin: 1rem;
}

.qr-code {
  border-radius: 0.7rem;
  width: 100%;
  object-fit: cover;
}

.text-container {
  margin: 0 2rem;
  padding: 0.5rem 0 1.5rem 0;
}

.title {
  color: ab.$dark-blue;
}

.description {
  padding: 1rem 0;
  color: ab.$grayish-blue;
}
